<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
  <div class="col">

    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSubmit()">

      <!-- Nombre -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre y apellido</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Nombre del usuario" formControlName="name">
         <app-error-input-form [form]="myForm" [field]="'name'"></app-error-input-form>
        </div>
      </div>

      <!-- Email -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" placeholder="Email del usuario"
          formControlName="email">
          <app-error-input-form [form]="myForm" [field]="'email'"></app-error-input-form>
        </div>
      </div>

      <!-- Username -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Nombre código del usuario" formControlName="username">
          <app-error-input-form [form]="myForm" [field]="'username'"></app-error-input-form>
        </div>
      </div>

      <!-- Password -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" placeholder="Password de su cuenta" formControlName="password">
          <app-error-input-form [form]="myForm" [field]="'password'"></app-error-input-form>
        </div>
      </div>

      <!-- Password2 -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Confirmar</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" placeholder="Confirmar la contraseña" formControlName="password2">
         <app-error-input-form [form]="myForm" [field]="'password2'"></app-error-input-form>

        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
          <app-errors-form [form]="myForm"> </app-errors-form>

        </div>
      </div>

      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end" type="submit">
            Crear
          </button>
        </div>
      </div>


    </form>
  </div>
</div>


<h2>Form Valid: </h2>
<pre>{{myForm.valid}}</pre>
<h2>Form Status: </h2>
  <pre>{{myForm.status}}</pre>
<h2>Form Pending: </h2>
  <pre>{{myForm.pending}}</pre>
<h2>Form errors</h2>
<pre>{{ myForm.errors | json }}</pre>
<h2>Value</h2>
<pre>{{ myForm.value | json }}</pre>

<h5>Nombre</h5>
<pre>{{ myForm.controls["name"].errors | json }}</pre>

<h5>Email</h5>
<pre>{{ myForm.controls["email"].errors | json }}</pre>

<h5>Username</h5>
<pre>{{ myForm.controls["username"].errors | json }}</pre>


<h5>Password</h5>
<pre>{{ myForm.controls["password"].errors | json }}</pre>

<h5>Confirmar</h5>
<pre>{{ myForm.controls["password2"].errors | json }}</pre>
